.rating_stars {
    position: relative;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    .rating-gray_img img, .rating-active_img img {
        width: 1.493333rem;
        height: .266667rem;
        flex: none;
        max-width: none;
    }
    .rating-active_img {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
}